
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .jumbotron {
        color: brown; 
    }
</style>
<div class="container">
    <div class="jumbotron">
        @Session["AdSoyad"] HOŞGELDİNİZ

    </div>
</div>
