 <!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        .nav-link-custom {
            color: yellow; 
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
</head>
        <body >

        <nav class="navbar navbar-inverse" >
        <div class="container-fluid" >
        <div class="navbar-header" >
        <a class="navbar-brand" href="/Home/Index" > Tıbbi Takip Sistemi</a >
        </div >
        <ul class="nav navbar-nav" >
        @if (User.IsInRole("Doktor"))
                {
                     <li > <a href="/Kullanıcı/Index" class="nav-link-custom" > Kullanıcı</a > </li >
                     <li > <a href="/Tüm Hastalar/Index" class="nav-link-custom" > TümHastalar</a > </li >
                     @*<li > <a href="/Hastalık/Index" class="nav-link-custom" > Hastalık Listesi</a > </li >
                     <li > <a href="/İlaç/Index" class="nav-link-custom" > İlaç Listesi</a > </li >
                     <li > <a href="/Tahlil/Index" class="nav-link-custom" > Tahlil Bilgisi</a > </li >*@
                }
        <li > <a href="/Kullanıcı/Güncelle" style="color:azure" >@Session["AdSoyad"] </a > </li >
        @if (User.IsInRole("Hasta"))
                {
                     <li > <a href="/Hastalık/Index" class="nav-link-custom" > Hastalık Listesi</a > </li >
                     <li > <a href="/İlaç/Index" class="nav-link-custom" > İlaç Listesi</a > </li >
                     <li > <a href="/Tahlil/Index" class="nav-link-custom" > Tahlil Bilgisi</a > </li >
                }
        <li > <a href="/Account/LogOut" > Çıkış Yap</a > </li >
        </ul >
        </div >
        </nav >

        <div class="container" >
        @RenderBody()
        </div >

        </body >
        </html >
